<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="contact">
      <h2 data-cy="contactDetailsHeading"><span jhiTranslate="siteEisApp.contact.detail.title">Contact</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ contact.id }}</span>
        </dd>
        <dt><span jhiTranslate="siteEisApp.contact.telephone">Telephone</span></dt>
        <dd>
          <span>{{ contact.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="siteEisApp.contact.email">Email</span></dt>
        <dd>
          <span>{{ contact.email }}</span>
        </dd>
        <dt><span jhiTranslate="siteEisApp.contact.boitePostale">Boite Postale</span></dt>
        <dd>
          <span>{{ contact.boitePostale }}</span>
        </dd>
        <dt><span jhiTranslate="siteEisApp.contact.localisation">Localisation</span></dt>
        <dd>
          <span>{{ contact.localisation }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/contact', contact.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
