<div>
  <h2 id="page-heading" data-cy="PageAProposHeading">
    <span jhiTranslate="siteEisApp.pageAPropos.home.title">PageAPropos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="siteEisApp.pageAPropos.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-page-a-propos"
        [routerLink]="['/page-a-propos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="siteEisApp.pageAPropos.home.createLabel"> Créer un nouveau Page A Propos </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <!-- <div class="alert alert-warning" id="no-result" *ngIf="pageAPropos?.length === 0">
    <span jhiTranslate="siteEisApp.pageAPropos.home.notFound">Aucun Page A Propos trouvé</span>
  </div> -->

  <div class="table-responsive table-entities" id="entities">
     
    <section class="container-fluid">
      <div class="classImage row" style="background: #dddddd;">
          <ngb-carousel class="my-10 col-12 d-flex align-items-start">
            <ng-template ngbSlide>
              <img src="../../../../content/images/public/office1.jpg" alt="Slide 1" class="d-block custom-carousel-img" style="background-position: center top;">
              <div class="carousel-caption d-none d-md-block">
                <h5>Innovante</h5>
                <p class="bg-dark">Toujours à la pointe de la technologie</p>
              </div>
            </ng-template>
            
            <ng-template ngbSlide>
              <img src="../../../../content/images/public/desk1.jpg" alt="Slide 2" class="d-block custom-carousel-img" style="background-position: center top;">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="text-info">Dynamique</h5>
                <p class="text-info border">anticipe les besoins de demain</p>
              </div>
            </ng-template>
            
            <ng-template ngbSlide>
              <img src="../../../../content/images/public/meeting1.jpg" alt="Slide 3" class="d-block custom-carousel-img" style="background-position: center top;">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="text-dark" >Visionnaire</h5>
                <p class="text-dark border  bg-white">produits et services de haute qualité</p>
              </div>
            </ng-template>
          </ngb-carousel>
          <img class="im" src="../../../../content/images/public/LogoEIS_XL.svg" alt="logo">
        </div>
    
        
  <!-- <div class="row titre1 text-center py-5 px-md-5">
      <div class="col-12 d-none d-md-flex align-content-start" style="font-size: 200px;">"</div>
      <h1 class="col-12">EIS-<span class="vert">INNOVATION</span> révolutionne notre perception de la <span class="vert">technologie</span> et se consacre à bâtir un avenir<span class="vert">prometteur</span> pour les générations futures.</h1>
      <div class="col-12 d-none d-md-flex d-md-block align-content-end" style="font-size: 200px; transform: rotate(180deg);">"</div>
  </div> -->


  <div class="row titre1 text-center py-3 px-md-5" >
    <div class="col-12 d-none d-md-flex align-content-start" style="font-size: 100px;">``</div>
    <h1 class="col-12 Titre">EIS-<span class="vert">INNOVATION</span> révolutionne notre perception de la <span class="vert">technologie</span> et se consacre à bâtir un avenir<span class="vert"> prometteur</span> pour les générations futures.</h1>
    <div class="col-12 d-none d-md-flex d-md-block align-content-end" style="font-size: 100px; transform: rotate(180deg);">``</div>
</div>




<div class="row padding px-md-5 text-justify card-container">
    <div class="card shadow-sm col-md-9 mx-auto fw-semibold">

      <div class="card-body ">

        <div class="mb-4">
              <h4 class="vert bold">1. Qui sommes-nous ?</h4>
              <p class="text-justify">
                  EIS Innovation est une startup technologique fondée au Cameroun, à l'Université de Douala. Nous sommes une entreprise née de la passion pour la technologie et d'une vision claire : offrir des solutions simples mais innovantes pour répondre aux besoins des personnes recherchant des produits et services technologiques de haute qualité. Fondée par Mr. Mballa Michel et soutenue par deux autres professionnels, notre entreprise se distingue par son engagement à former et encadrer les jeunes talents pour en faire les leaders technologiques de demain.
              </p>
          </div>

          <div class="mb-4">
              <h4 class="vert bold">2. Notre vision</h4>
              <p class="text-justify">
                  Notre vision est de créer un avenir où la technologie est accessible à tous, où les solutions simples mais innovantes permettent de transformer les vies et de rendre le monde plus connecté, inclusif et avancé. Nous aspirons à être un leader mondial dans le domaine technologique, en repoussant constamment les limites de l'innovation.
              </p>
          </div>

          <div class="mb-4">
              <h4 class="vert bold">3. Notre mission</h4>
              <p class="text-justify">
                  Notre mission est de fournir des solutions technologiques de haute qualité, accessibles et répondant aux besoins diversifiés de nos clients. Nous nous engageons à encadrer et à former la prochaine génération de leaders technologiques, tout en cultivant une culture d'innovation, d'ambition et de collaboration au sein de notre entreprise.
              </p>
          </div>

          <div class="mb-4">
              <h4 class="vert bold">4. Notre objectif</h4>
              <p class="text-justify">
                  Notre objectif est de transformer des idées novatrices en solutions pratiques qui répondent aux défis technologiques actuels et futurs. Nous visons à créer un impact durable en développant des technologies qui améliorent la vie quotidienne tout en soutenant l'émergence de jeunes talents dans le domaine technologique.
              </p>
          </div>

          <div class="mb-4">
              <h4 class="vert bold">5. Nos valeurs</h4>
              <p class="text-justify">
                  Nos valeurs fondamentales sont :
              </p>
              <ul>
                  <li><strong>Innovation</strong> : Nous repoussons constamment les frontières de la technologie pour créer des solutions nouvelles et efficaces.</li>
                  <li><strong>Ambition</strong> : Nous nous efforçons d'atteindre l'excellence dans tout ce que nous entreprenons, avec un engagement indéfectible envers nos objectifs.</li>
                  <li><strong>Collaboration</strong> : Nous croyons en la force du travail d'équipe et de la coopération pour atteindre des résultats exceptionnels.</li>
                  <li><strong>Excellence</strong> : Nous mettons un point d'honneur à maintenir les plus hauts standards de qualité dans nos produits, services, et processus.</li>
              </ul>
          </div>

          <div>
              <h4 class="vert bold">6. Nos avantages</h4>
              <p class="text-justify">
                  <strong>Expertise</strong> : Une équipe composée de professionnels expérimentés et de jeunes talents formés dans les meilleures pratiques technologiques.
              </p>
              <p>
                  <strong>Innovation continue</strong> : Un engagement à rechercher et développer des solutions technologiques novatrices qui répondent aux besoins changeants du marché.
              </p>
              <p>
                  <strong>Accessibilité</strong> : Des produits et services technologiques de haute qualité, accessibles à un large public, favorisant un mode de vie avancé.
              </p>
              <p>
                  <strong>Encadrement et formation</strong> : Un soutien actif aux jeunes talents, leur offrant des opportunités de développement professionnel et de leadership dans le secteur technologique.
              </p>
          </div>
      </div>
  </div>
  </div>

  <br><br>
  <div class="row padding">
      <div class="col-12 baniere text-right py-5 px-md-5">
          <P>Innovation</P> 
          <P>collaboration</P> 
          <P>ambition</P> 
          <P>Excellence</P> 
      </div>
  </div>
  </section>
  
  <!-- <section>
      <h2 *ngIf="blog && blog.length > 0" class="title text-center">NOTRE EQUIPE</h2><br>
      <div class="container">
        <div class="row">
          <div class= "col-md-4 mb-5 g-5" *ngFor="let blog of blog">
            <div class="card d-flex fex-column shadow-sm w-80 h-100" >
              <div class="card-header py-3 blocc bcImage" style="background-color: {{ blog.color }};" >
                <img src="{{ blog.image }}" alt="image" class="image1 img-fluid rounded-circle mx-auto d-block mt-3">
              </div>
              <div class="card-body blocc text-center d-flex justify-content-start align-items-center flex-column py-5">
                <h2 class="titre">{{ blog.titre}}</h2>
                <h5 class="nom">{{ blog.nom }}</h5>
                <p class="paragraphe">{{ blog.paragraphe }}</p>
                <p class="paragraph">{{ blog.paragraph }}</p>
                
                <div class="imageurl d-flex justify-content-center">
                  <img src="{{ blog.image1 }}" alt="Biogramme" class="image2 mx-2" routerLink="/contacts">
                  <img src="{{ blog.image2 }}" alt="Biologie" class="image3 mx-2" routerLink="/contacts">
                </div>
                <a class="btn mt-2" style="color: white; background-color: {{ blog.color }};" routerLink="/equipe">{{ blog.savoir }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    
  
  
  
    
    
  
   
   
   
   
   
   
   
   
   
   
   
























   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec1Img1">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec1Img1">Sec 1 Img 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec1Desc1">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec1Desc1">Sec 1 Desc 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec1Logo">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec1Logo">Sec 1 Logo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec1Img2">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec1Img2">Sec 1 Img 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec1Desc2">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec1Desc2">Sec 1 Desc 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec1Img3">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec1Img3">Sec 1 Img 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec1Desc3">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec1Desc3">Sec 1 Desc 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec2Titre">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec2Titre">Sec 2 Titre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec2Img">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec2Img">Sec 2 Img</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec2SousTitre">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec2SousTitre">Sec 2 Sous Titre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec2Text">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec2Text">Sec 2 Text</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec3Titre">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec3Titre">Sec 3 Titre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec3Img">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec3Img">Sec 3 Img</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec3SousTitre">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec3SousTitre">Sec 3 Sous Titre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec3Text">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec3Text">Sec 3 Text</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec4Img">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec4Img">Sec 4 Img</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec4Desc1">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec4Desc1">Sec 4 Desc 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec4Desc2">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec4Desc2">Sec 4 Desc 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec4Desc3">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec4Desc3">Sec 4 Desc 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec4Desc4">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec4Desc4">Sec 4 Desc 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sec5Titre">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.sec5Titre">Sec 5 Titre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="membreEquipe1.id">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.pageAPropos.membreEquipe1">Membre Equipe 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pageAPropos of pageAPropos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/page-a-propos', pageAPropos.id, 'view']">{{ pageAPropos.id }}</a>
          </td>
          <td>
            <a *ngIf="pageAPropos.sec1Img1" (click)="openFile(pageAPropos.sec1Img1, pageAPropos.sec1Img1ContentType)">
              <img
                [src]="'data:' + pageAPropos.sec1Img1ContentType + ';base64,' + pageAPropos.sec1Img1"
                style="max-height: 30px"
                alt="pageAPropos image"
              />
            </a>
            <span *ngIf="pageAPropos.sec1Img1">{{ pageAPropos.sec1Img1ContentType }}, {{ byteSize(pageAPropos.sec1Img1) }}</span>
          </td>
          <td>{{ pageAPropos.sec1Desc1 }}</td>
          <td>
            <a *ngIf="pageAPropos.sec1Logo" (click)="openFile(pageAPropos.sec1Logo, pageAPropos.sec1LogoContentType)">
              <img
                [src]="'data:' + pageAPropos.sec1LogoContentType + ';base64,' + pageAPropos.sec1Logo"
                style="max-height: 30px"
                alt="pageAPropos image"
              />
            </a>
            <span *ngIf="pageAPropos.sec1Logo">{{ pageAPropos.sec1LogoContentType }}, {{ byteSize(pageAPropos.sec1Logo) }}</span>
          </td>
          <td>
            <a *ngIf="pageAPropos.sec1Img2" (click)="openFile(pageAPropos.sec1Img2, pageAPropos.sec1Img2ContentType)">
              <img
                [src]="'data:' + pageAPropos.sec1Img2ContentType + ';base64,' + pageAPropos.sec1Img2"
                style="max-height: 30px"
                alt="pageAPropos image"
              />
            </a>
            <span *ngIf="pageAPropos.sec1Img2">{{ pageAPropos.sec1Img2ContentType }}, {{ byteSize(pageAPropos.sec1Img2) }}</span>
          </td>
          <td>{{ pageAPropos.sec1Desc2 }}</td>
          <td>
            <a *ngIf="pageAPropos.sec1Img3" (click)="openFile(pageAPropos.sec1Img3, pageAPropos.sec1Img3ContentType)">
              <img
                [src]="'data:' + pageAPropos.sec1Img3ContentType + ';base64,' + pageAPropos.sec1Img3"
                style="max-height: 30px"
                alt="pageAPropos image"
              />
            </a>
            <span *ngIf="pageAPropos.sec1Img3">{{ pageAPropos.sec1Img3ContentType }}, {{ byteSize(pageAPropos.sec1Img3) }}</span>
          </td>
          <td>{{ pageAPropos.sec1Desc3 }}</td>
          <td>{{ pageAPropos.sec2Titre }}</td>
          <td>
            <a *ngIf="pageAPropos.sec2Img" (click)="openFile(pageAPropos.sec2Img, pageAPropos.sec2ImgContentType)">
              <img
                [src]="'data:' + pageAPropos.sec2ImgContentType + ';base64,' + pageAPropos.sec2Img"
                style="max-height: 30px"
                alt="pageAPropos image"
              />
            </a>
            <span *ngIf="pageAPropos.sec2Img">{{ pageAPropos.sec2ImgContentType }}, {{ byteSize(pageAPropos.sec2Img) }}</span>
          </td>
          <td>{{ pageAPropos.sec2SousTitre }}</td>
          <td>{{ pageAPropos.sec2Text }}</td>
          <td>{{ pageAPropos.sec3Titre }}</td>
          <td>
            <a *ngIf="pageAPropos.sec3Img" (click)="openFile(pageAPropos.sec3Img, pageAPropos.sec3ImgContentType)">
              <img
                [src]="'data:' + pageAPropos.sec3ImgContentType + ';base64,' + pageAPropos.sec3Img"
                style="max-height: 30px"
                alt="pageAPropos image"
              />
            </a>
            <span *ngIf="pageAPropos.sec3Img">{{ pageAPropos.sec3ImgContentType }}, {{ byteSize(pageAPropos.sec3Img) }}</span>
          </td>
          <td>{{ pageAPropos.sec3SousTitre }}</td>
          <td>{{ pageAPropos.sec3Text }}</td>
          <td>
            <a *ngIf="pageAPropos.sec4Img" (click)="openFile(pageAPropos.sec4Img, pageAPropos.sec4ImgContentType)">
              <img
                [src]="'data:' + pageAPropos.sec4ImgContentType + ';base64,' + pageAPropos.sec4Img"
                style="max-height: 30px"
                alt="pageAPropos image"
              />
            </a>
            <span *ngIf="pageAPropos.sec4Img">{{ pageAPropos.sec4ImgContentType }}, {{ byteSize(pageAPropos.sec4Img) }}</span>
          </td>
          <td>{{ pageAPropos.sec4Desc1 }}</td>
          <td>{{ pageAPropos.sec4Desc2 }}</td>
          <td>{{ pageAPropos.sec4Desc3 }}</td>
          <td>{{ pageAPropos.sec4Desc4 }}</td>
          <td>{{ pageAPropos.sec5Titre }}</td>
          <td>
            <div *ngIf="pageAPropos.membreEquipe1">
              <a [routerLink]="['/membre-equipe', pageAPropos.membreEquipe1.id, 'view']">{{ pageAPropos.membreEquipe1.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/page-a-propos', pageAPropos.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/page-a-propos', pageAPropos.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(pageAPropos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
