<div>
  <h2 id="page-heading" data-cy="LienMembreEquipeHeading">
    <span jhiTranslate="siteEisApp.lienMembreEquipe.home.title">LienMembreEquipes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="siteEisApp.lienMembreEquipe.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lien-membre-equipe"
        [routerLink]="['/lien-membre-equipe/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="siteEisApp.lienMembreEquipe.home.createLabel"> Créer un nouveau Lien Membre Equipe </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lienMembreEquipes?.length === 0">
    <span jhiTranslate="siteEisApp.lienMembreEquipe.home.notFound">Aucun Lien Membre Equipe trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="lienMembreEquipes && lienMembreEquipes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="facebook">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.lienMembreEquipe.facebook">Facebook</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="whatsapp">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.lienMembreEquipe.whatsapp">Whatsapp</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="linkedin">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.lienMembreEquipe.linkedin">Linkedin</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="twitter">
            <div class="d-flex">
              <span jhiTranslate="siteEisApp.lienMembreEquipe.twitter">Twitter</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lienMembreEquipe of lienMembreEquipes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/lien-membre-equipe', lienMembreEquipe.id, 'view']">{{ lienMembreEquipe.id }}</a>
          </td>
          <td>{{ lienMembreEquipe.facebook }}</td>
          <td>{{ lienMembreEquipe.whatsapp }}</td>
          <td>{{ lienMembreEquipe.linkedin }}</td>
          <td>{{ lienMembreEquipe.twitter }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/lien-membre-equipe', lienMembreEquipe.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/lien-membre-equipe', lienMembreEquipe.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(lienMembreEquipe)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
